$principal-color: #1e90ff;
$secondary-color: #758e4f;
$tertiary-color: #dcdcdc;

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}
