.principal-title {
  font-weight: bold;
  visibility: collapse;
}
.principal-slogan {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  flex: 1;
  line-height: 2.5rem;
}
.principal-img {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin: 0 auto;
  flex: 4;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.principal-contact {
  @include flexRow;
  justify-content: space-around;
  justify-self: end;
  align-items: center;
  flex: 1;

  a {
    font-size: 2rem;
    @include flexCol;
    align-items: center;
    color: black;
    text-decoration: none;

    span {
      margin-top: 0.3rem;
      font-size: 0.7rem;
    }
  }
}

.info-card {
  @include flexCol;
  min-height: 100vh;
  background-color: $tertiary-color;

  h2 {
    color: $secondary-color;
    border-bottom: 3px double $secondary-color;
    flex: 0 0 10%;
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  .card-content {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#pages {
  .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "first first first ."
      ". second second second"
      "third third third ."
      "fourth fourth fourth fourth"
      "fifth fifth fifth fifth"
      "sixth sixth sixth sixth"
      "seventh seventh seventh seventh";

    p {
      font-size: 2rem;
      text-align: center;
      margin-top: 1.5rem;
    }

    .info-card-logos {
      font-size: 3rem;
      color: $principal-color;
    }
    $labels: (
      "first",
      "second",
      "third",
      "fourth",
      "fifth",
      "sixth",
      "seventh"
    );

    @for $i from 1 to 8 {
      p:nth-child(#{$i}) {
        grid-area: #{nth($labels, $i)};
      }
    }
  }
}

#types {
  article {
    flex: 0 0 80%;
    @include flexCol;
    align-items: center;

    h3 {
      margin: 0.5rem 0 0.3rem;
      font-size: 1.5rem;
    }
    .info-type-img {
      background-color: black;
      width: 100%;
      height: 180px;
      border-radius: 10px;
      box-shadow: 4px 4px 3px $secondary-color;
      margin-bottom: 0.5rem;
    }
  }
}
