main {
  display: flex;
  flex-direction: column;
  height: 100%; }

.principal-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e90ff; }

.info-container {
  height: 100vh; }

@media screen and (min-width: 480px) {
  main {
    flex-direction: row; }
  .principal-container {
    flex: 0 0 40%; }
  .info-container {
    flex: 0 0 60%;
    overflow-y: auto; } }

.principal-title {
  font-weight: bold;
  visibility: collapse; }

.principal-slogan {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  flex: 1;
  line-height: 2.5rem; }

.principal-img {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin: 0 auto;
  flex: 4; }
  .principal-img img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.principal-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: end;
  align-items: center;
  flex: 1; }
  .principal-contact a {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none; }
    .principal-contact a span {
      margin-top: 0.3rem;
      font-size: 0.7rem; }

.info-card {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #dcdcdc; }
  .info-card h2 {
    color: #758e4f;
    border-bottom: 3px double #758e4f;
    flex: 0 0 10%;
    font-size: 2.5rem;
    margin: 0.5rem 0; }
  .info-card .card-content {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

#pages .card-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "first first first ." ". second second second" "third third third ." "fourth fourth fourth fourth" "fifth fifth fifth fifth" "sixth sixth sixth sixth" "seventh seventh seventh seventh"; }
  #pages .card-content p {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem; }
  #pages .card-content .info-card-logos {
    font-size: 3rem;
    color: #1e90ff; }
  #pages .card-content p:nth-child(1) {
    grid-area: first; }
  #pages .card-content p:nth-child(2) {
    grid-area: second; }
  #pages .card-content p:nth-child(3) {
    grid-area: third; }
  #pages .card-content p:nth-child(4) {
    grid-area: fourth; }
  #pages .card-content p:nth-child(5) {
    grid-area: fifth; }
  #pages .card-content p:nth-child(6) {
    grid-area: sixth; }
  #pages .card-content p:nth-child(7) {
    grid-area: seventh; }

#types article {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; }
  #types article h3 {
    margin: 0.5rem 0 0.3rem;
    font-size: 1.5rem; }
  #types article .info-type-img {
    background-color: black;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #758e4f;
    margin-bottom: 0.5rem; }
  #types article .lazyload {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center 0px; }
  #types article p {
    color: gray;
    font-style: italic; }

.form {
  display: flex;
  flex-direction: column; }

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0; }
