main {
  display: flex;
  flex-direction: column;
  height: 100%; }

.principal-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e90ff; }

.info-container {
  height: 100vh; }

@media screen and (min-width: 480px) {
  main {
    flex-direction: row; }
  .principal-container {
    flex: 0 0 40%; }
  .info-container {
    flex: 0 0 60%;
    overflow-y: auto; } }

.principal-title {
  font-size: 3rem;
  font-weight: bold;
  flex: 1; }

.principal-slogan {
  font-size: 1.5rem;
  text-align: center;
  flex: 1; }

.principal-img {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  background-color: black;
  margin: 0 auto;
  flex: 4; }

.principal-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: end;
  flex: 1; }
  .principal-contact a {
    border: 1px solid black; }

.info-card {
  height: inherit;
  background-color: #dcdcdc; }
